version: "3.8"

networks:
  observability:
    driver: bridge

services:
  app:
    build: ./app
    container_name: app
    ports:
      - "5000:5000"
    networks:
      - observability
    depends_on:
      - jaeger

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9091:9090"
    networks:
      - observability

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - observability

  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - "3100:3100"
    networks:
      - observability

  promtail:
    image: grafana/promtail
    container_name: promtail
    volumes:
      - ./loki/promtail-config.yaml:/etc/promtail/config.yml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - observability

  jaeger:
    image: jaegertracing/all-in-one
    container_name: jaeger
    ports:
      - "16686:16686"
      - "6831:6831/udp"
    networks:
      - observability

